// Less
@import url("helper/_base.less");
// Less
@import url("section/_logo.less");
@import url("section/_navigation.less");
@import url("section/_slider.less");
@import url("section/_top-slider-theme.less");
@import url("section/_benefits.less");
@import url("section/_service-description.less");

.block{
	background: #66BB6A;
	.helper-structure
}
.block--special{
	background: #009688;
	.helper-structure
}
.block-hidden{
	background: #FFCC80;
	.helper-structure
}
.footer{
	background: #446a99;
	.full-width
}